# Shahadat Hossain (Razin)
**B.Sc in statistics Islamic Univercity, Kushtia Phone- 01515237158 email- razinstatiu@gmail.com**

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn import linear_model

In [4]:
df = pd.read_csv('car driving risk2.csv')

In [5]:
df

    speed  car_age  experience  risk
0     200       20         5.0    95
1      90       17        13.0    20
2     300       27         5.0    98
3     110       18         8.0    60
4     240       25         9.0    72
5     115       17         7.0    10
6      50        7         NaN     7
7     230       24        12.0    85
8     190       20         9.0    45
9     260       25        12.0    91
10    290       28        11.0    82
11    185       21         7.0    59
12    310       28         8.0    93
13     95        8         NaN    18
14     30        4         2.0     2

In [6]:
df.head()

   speed  car_age  experience  risk
0    200       20         5.0    95
1     90       17        13.0    20
2    300       27         5.0    98
3    110       18         8.0    60
4    240       25         9.0    72

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   speed       15 non-null     int64
 1   car_age     15 non-null     int64
 2   experience  13 non-null     float64
 3   risk        15 non-null     int64
dtypes: float64(1), int64(3)
memory usage: 608.0 bytes

In [8]:
df.describe()

            speed    car_age  experience       risk
count   15.000000  15.000000   13.000000  15.000000
mean   179.666667  19.266667    8.307692  55.800000
std     92.687391   7.685484    3.198557  35.827364
min     30.000000   4.000000    2.000000   2.000000
25%    102.500000  17.000000    7.000000  19.000000
50%    190.000000  20.000000    8.000000  60.000000
75%    250.000000  25.000000   11.000000  88.000000
max    310.000000  28.000000   13.000000  98.000000

In [9]:
df.shape

(15, 4)

In [10]:
df.isnull().any()

speed         False
car_age       False
experience     True
risk          False
dtype: bool

In [11]:
df.isnull()

    speed  car_age  experience   risk
0   False    False       False  False
1   False    False       False  False
2   False    False       False  False
3   False    False       False  False
4   False    False       False  False
5   False    False       False  False
6   False    False        True  False
7   False    False       False  False
8   False    False       False  False
9   False    False       False  False
10  False    False       False  False
11  False    False       False  False
12  False    False       False  False
13  False    False        True  False
14  False    False       False  False

In [12]:
df.isnull().sum()

speed         0
car_age       0
experience    2
risk          0
dtype: int64

In [13]:
df.experience

0      5.0
1     13.0
2      5.0
3      8.0
4      9.0
5      7.0
6      NaN
7     12.0
8      9.0
9     12.0
10    11.0
11     7.0
12     8.0
13     NaN
14     2.0
Name: experience, dtype: float64

In [14]:
df

    speed  car_age  experience  risk
0     200       20         5.0    95
1      90       17        13.0    20
2     300       27         5.0    98
3     110       18         8.0    60
4     240       25         9.0    72
5     115       17         7.0    10
6      50        7         NaN     7
7     230       24        12.0    85
8     190       20         9.0    45
9     260       25        12.0    91
10    290       28        11.0    82
11    185       21         7.0    59
12    310       28         8.0    93
13     95        8         NaN    18
14     30        4         2.0     2

In [15]:
df.experience.mean()

8.307692307692308

In [16]:
df.experience.median()

8.0

In [17]:
df.experience.mode()

0     5.0
1     7.0
2     8.0
3     9.0
4    12.0
Name: experience, dtype: float64

In [18]:
exp_fit = df.experience.mean()

In [19]:
exp_fit

8.307692307692308

In [20]:
df.experience = df.experience.fillna(exp_fit)

In [21]:
df.experience

0      5.000000
1     13.000000
2      5.000000
3      8.000000
4      9.000000
5      7.000000
6      8.307692
7     12.000000
8      9.000000
9     12.000000
10    11.000000
11     7.000000
12     8.000000
13     8.307692
14     2.000000
Name: experience, dtype: float64

In [22]:
df

    speed  car_age  experience  risk
0     200       20    5.000000    95
1      90       17   13.000000    20
2     300       27    5.000000    98
3     110       18    8.000000    60
4     240       25    9.000000    72
5     115       17    7.000000    10
6      50        7    8.307692     7
7     230       24   12.000000    85
8     190       20    9.000000    45
9     260       25   12.000000    91
10    290       28   11.000000    82
11    185       21    7.000000    59
12    310       28    8.000000    93
13     95        8    8.307692    18
14     30        4    2.000000     2

In [23]:
reg = linear_model.LinearRegression()

In [24]:
reg.fit(df[['speed','car_age','experience']],df.risk)

LinearRegression()

In [25]:
reg.predict([[200,20,5]])

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([66.04518707])

In [26]:
reg.coef_

array([ 0.25457434,  1.36494231, -1.22982556])

In [27]:
reg.intercept_

-6.0193987450211

# y = mx+c
**risk = m*speed+m*car_age+m*experience+intercept**

In [30]:
y = 0.25457434*200 + 1.36494231*20 +(-1.22982556*5) + (-6.0193987450211)

In [31]:
y

66.04518765497889